* {
  box-sizing: border-box;
}

.board
{
  width: 100%;
  height: 75vh;
  padding-left: 30px;
  padding-right: 30px;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  background-color: #fff;
  position: relative;
  margin-bottom: 30px;
  animation-name: jump;
  animation-duration: 0.5s;

}

.board > span
{
  margin-bottom: 60px;
  font-size: 30px;

}
@keyframes jump {
  from { width: 0; }
  to { width: 100%; }

}
a
{
  text-decoration: none;
  color: black;
  font-size: 27.5px;
}

a:hover
{
  color: lightblue;
}

.row
{
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  display: flex;
}


.half
{
  width: 50%;
  min-height: 30vh;
  padding: 30px;
  background-color: lightgreen;
}

.emojii
{
  width: 30px;
  height: 30px;
  animation-name: move;
  animation-duration: 5s;
  position: absolute;
  
}

@keyframes move {
  0% {
    top: 0;
    right: 0;

  }
  10% {
    top: 10%;
    right: 20%;
  }
  30% {
    top: 20%;
    right: 30%;
  }
  50% {
    top: 40%;
    right: 50%;
  }
  70% {
    top: 60%;
    right: 70%;
  }
  90% {
    top: 80%;
    right: 90%;
  }
  100% {
    top: 100%;
    right: 100%;
  }
}


